:root {
    color-scheme: light dark;
    --bg-color: hsl(0, 0%, 95%);
    --font-color: hsl(0, 0%, 20%);
    --shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    --shadow-strong: 0px 5px 8px rgba(0, 0, 0, 0.5);
    --header-bg: hsl(200, 10%, 35%);
    accent-color: auto;
    /* change to your highlight color when needed */
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

html {
    /* Removes tap highlight on touch devices */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    /* No need for this mobile viewport bug fix anymore */
    /* height: -webkit-fill-available; */
}

body {
    background-color: hsla(0, 0%, 100%, 0.7); /* 50% Transparenz */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(100px);
    /* Disables selecting text (useful for PWAs to prevent unwanted text selection during interactions) */
    user-select: none;
    -webkit-user-select: none;
    /* Disables touch and hold callout on iOS (prevents the menu that appears on long press, useful for PWAs) */
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-size: 100%;
    /* Uses dynamic viewport height for better handling of mobile viewports */
    min-height: 100dvh;
    /* Old mobile viewport bug fix - no longer needed */
    /* min-height: -webkit-fill-available; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

:is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/*
-------------------------------------------------------------------
Header  
-------------------------------------------------------------------
*/

header {
    background-color: hsla(0, 0%, 100%, 0.6);
    width: 100vw;
    margin-bottom: 3dvh;
    color: var(--font-color);
}

h1 {
    font-size: 3.5dvh;
    text-align: center;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

/*
-------------------------------------------------------------------
Main
-------------------------------------------------------------------
*/

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 50vw;
    padding-left: 50vw;
    gap: 4vmin;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.song {
    scroll-snap-align: center;
}

.song img {
    width: 30dvh;
    height: 30dvh;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-bottom: 1dvh;
    transition: box-shadow 0.3s ease-in-out;
}

.song.active img {
    box-shadow: var(--shadow-strong);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5dvh;
    height: 5dvh;
    font-size: 5dvh;
    padding: 2dvh;
    margin-top: 12dvh;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.add:hover {
    background-color:  hsla(0, 0%, 100%);
    color: var(--font-color);
}

.song :where(.title, .artist) {
    max-width: 30dvh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-weight: 600;
}

.year {
    font-size: 2rem;
    font-weight: 800;
    max-width: 30dvh;
}

/*
-------------------------------------------------------------------
Deezer Player
-------------------------------------------------------------------
*/

#deezer-player {
    width: 30dvh;
    height: 30dvh;
    margin-bottom: 3dvh;
}

#deezer-player iframe {
    box-shadow: var(--shadow);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
        /* will switch to oklch soon: */
        --bg-color: hsl(0, 0%, 20%);
        /* oklch(32%, 0%, 0) */
        --font-color: hsl(0, 0%, 90%);
        /* oklch(92%, 0%, 0) */
    }
}